<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Page</title>
    <link rel="stylesheet" href="event.css">
</head>

<body>
    <div class="container">
        <div class="event-poster">Event Poster</div>
        <div class="content">
            <div class="announcement">
                <h3>Announcement</h3>
                <p>&rarr; Desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus harum nam debitis laboriosam repellat maiores cupiditate sed reprehenderit amet? Minima earum magnam eveniet nulla, nihil ad ipsum facilis! Animi asperiores
                    dolorem quis Nostrum expedita distinctio sapiente culpa aliquam nobis nisi labore!
                </p>
                <p>&rarr; Timelines Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus harum nam debitis laboriosam repellat maiores cupiditate sed reprehenderit amet? Minima earum magnam eveniet nulla, nihil ad ipsum facilis! Animi asperiores
                    dolorem quis voluptatibus. Qui odit provident laboriosam repellendus itaque, dolores suscipit obcaecati atque architecto reprehenderit quo magni fugiat aperiam mollitia commodi doloribus assumenda voluptatum facere expedita illum impedit,
                    eos sed ab! Voluptatibus aperiam itaque accusantium quidem tenetur? Dicta totam fugiat error corrupti suscipit enim. Numquam dicta incidunt quisquam impedit itaque nulla tempore nostrum autem, veritatis dignissimos ea eveniet, quod,
                    nihil officia! Nostrum expedita distinctio sapiente culpa aliquam nobis nisi labore!
                </p>
                <p>&rarr; Eligibility Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus harum nam debitis laboriosam repellat maiores cupiditate sed reprehenderit amet? Minima earum magnam eveniet nulla, nihil ad ipsum facilis! Animi
                    asperiores dolorem quis voluptatibus. veniet, quod, nihil officia! Nostrum expedita distinctio sapiente culpa aliquam nobis nisi labore!
                </p>
                <p>&rarr; Rules Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus harum nam debitis laboriosam repellat maiores cupiditate sed reprehenderit amet? Minima earum magnam eveniet nulla, nihil ad ipsum facilis! Animi asperiores
                    dolorem quis voluptatibus. nihil officia! Nostrum expedita distinctio sapiente culpa aliquam nobis nisi labore!
                </p>
                <p>&rarr; Rewards Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos distinctio placeat natus possimus cupiditate! Expedita est nemo unde pariatur illum distinctio laboriosam qui a, non labore doloribus sunt facere at.</p>
            </div>
            <div class="register-box">
                <button>Register</button>
                <p>Deadline: TBD</p>
            </div>
        </div>
    </div>
</body>

</html>