<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration Form</title>
    <link rel="stylesheet" href="../../View/ProfilePage/profile.css">
</head>

<body>
    <div class="container">
        <div class="profile-pic">
            <img id="profileImage" src="" alt="Profile Picture">
            <input type="file" id="fileInput" accept="image/*">
        </div>
        <div class="input-fields">
            <div class="row">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
            </div>
            <div class="row">
                <input type="text" placeholder="Mobile No">
                <input type="email" placeholder="Email ID">
            </div>
            <input type="text" class="full-width" placeholder="LinkedIn">
            <input type="text" class="full-width" placeholder="GitHub">
            <div class="row">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Verify Password">
            </div>
            <div class="btn-container">
                <button>Save</button>
                <button type="reset">Reset</button>
            </div>
        </div>
    </div>
    <script src="../../View/ProfilePage/profile.js"></script>
</body>

</html>