<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard Page</title>
    <link rel="stylesheet" href="../../View/Student Dashboard/student.css">
</head>

<body>
    <header>
        <div class="logo">Uni Name</div>
        <div class="user">Username</div>
        <div class="logout">
        <a href="../../Modules/Authentication_&_Authorization/View/Logout/Logout.php" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
        </div>
    </header>
    <main>
        <section class="top-section">
            <div class="event-announcements">Event Announcements</div>
            <div class="leaderboard">Leaderboard</div>
        </section>
        <div class="carousel">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <section class="previous-challenges">
            <h2>PREVIOUS CHALLENGES</h2>
            <div class="challenges-container">
                <div class="challenge">
                    <div class="poster">Event Poster</div>
                    <div class="details">
                        <p><strong>Event Name</strong></p>
                        <p>Date</p>
                        <p><em>No of Participation</em></p>
                    </div>
                </div>
                <div class="challenge">
                    <div class="poster">Event Poster</div>
                    <div class="details">
                        <p><strong>Event Name</strong></p>
                        <p>Date</p>
                        <p><em>No of Participation</em></p>
                    </div>
                </div>
                <div class="challenge">
                    <div class="poster">Event Poster</div>
                    <div class="details">
                        <p><strong>Event Name</strong></p>
                        <p>Date</p>
                        <p><em>No of Participation</em></p>
                    </div>
                </div>
                <div class="challenge">
                    <div class="poster">Event Poster</div>
                    <div class="details">
                        <p><strong>Event Name</strong></p>
                        <p>Date</p>
                        <p><em>No of Participation</em></p>
                    </div>
                </div>

            </div>
        </section>
    </main>
    <script src="../../View/Student Dashboard/student.js"></script>
</body>

</html>